<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>invoicing system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ItemInsert</display-name>
    <servlet-name>ItemInsert</servlet-name>
    <servlet-class>com.first.controller.ItemInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInsert</servlet-name>
    <url-pattern>/ItemInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDelete</display-name>
    <servlet-name>ItemDelete</servlet-name>
    <servlet-class>com.first.controller.ItemDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDelete</servlet-name>
    <url-pattern>/deleteitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditItem</display-name>
    <servlet-name>EditItem</servlet-name>
    <servlet-class>com.first.controller.EditItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditItem</servlet-name>
    <url-pattern>/edititem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartyInsert</display-name>
    <servlet-name>PartyInsert</servlet-name>
    <servlet-class>com.first.controller.PartyInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyInsert</servlet-name>
    <url-pattern>/insertparty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartyEdit</display-name>
    <servlet-name>PartyEdit</servlet-name>
    <servlet-class>com.first.controller.PartyEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyEdit</servlet-name>
    <url-pattern>/PartyEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParty</display-name>
    <servlet-name>DeleteParty</servlet-name>
    <servlet-class>com.first.controller.DeleteParty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParty</servlet-name>
    <url-pattern>/deleteparty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceData</display-name>
    <servlet-name>InvoiceData</servlet-name>
    <servlet-class>com.first.controller.InvoiceData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceData</servlet-name>
    <url-pattern>/invoicedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentreceived</display-name>
    <servlet-name>paymentreceived</servlet-name>
    <servlet-class>com.first.controller.paymentreceived</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentreceived</servlet-name>
    <url-pattern>/paymentreceived</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInfoServlet</display-name>
    <servlet-name>ItemInfoServlet</servlet-name>
    <servlet-class>com.first.controller.ItemInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInfoServlet</servlet-name>
    <url-pattern>/ItemInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePurchaseparty</display-name>
    <servlet-name>DeletePurchaseparty</servlet-name>
    <servlet-class>com.first.controller.DeletePurchaseparty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePurchaseparty</servlet-name>
    <url-pattern>/deletepurchaseparty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartyPurchaseEdit</display-name>
    <servlet-name>PartyPurchaseEdit</servlet-name>
    <servlet-class>com.first.controller.PartyPurchaseEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyPurchaseEdit</servlet-name>
    <url-pattern>/partypurchaseedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartyPurchaseInsert</display-name>
    <servlet-name>PartyPurchaseInsert</servlet-name>
    <servlet-class>com.first.controller.PartyPurchaseInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyPurchaseInsert</servlet-name>
    <url-pattern>/partypurchaseinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceDataPurchase</display-name>
    <servlet-name>InvoiceDataPurchase</servlet-name>
    <servlet-class>com.first.controller.InvoiceDataPurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceDataPurchase</servlet-name>
    <url-pattern>/invoicedatapurchase</url-pattern>
  </servlet-mapping>
</web-app>